body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*  todo App  */
.todos{
  padding: 1em 0;
}
.todo-item{
  padding: 0.4em 0;
}
.todo-item p{
  display: inline;
}
.todo-item span{
  margin-left: 1em;
}
.filters a{
  padding: 0 0.3em;
}
